{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>DTM of Mount Saint Peter in Maastricht</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'home/css/Qgis2threejs.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'home/css/style.css' %}"> {% endcomment %}

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

  <style>
    :root {
      --grey: #e4e4e4;
      --blue: #005aa4;
      --white: #ffffff;
    }
    
    /* Temporary */
    .ass {
      background: rgb(222, 222, 222);
      transition: all .3s;
    }

    .ass:hover {
      background: rgb(188, 188, 188);
      transition: all .3s;
    }
    /* Temporary */

    html {
      position:relative; 
      min-height: 100%;
    }
    
    body {
      font-family: arial, sans-serif;
      margin: 0;
    }
    
    .header {
      background-color: var(--grey);
    }
    
    footer {
      position: absolute;
      bottom: 0;
      background: var(--grey);
    }
    
    .course p {
      color: var(--blue)
    }
    
    .comparation-tab img {
      width: 100%;
      height: auto;
    }
    
    .view-title {
      position: absolute;
      top: 130%;
      left: 5%;
    }
    
    .page-menu div {
      height: 40px;
      transition: all .3s;
    }
    
    .page-menu div:hover {
      height: 40px;
      background: rgb(223, 223, 223);
      transition: all .3s;
    }
    
    /* ============== Small Screen ============== */
    
    @media only screen and (max-width: 767px) {
      #layerpanel, #popup {
        left: 12% !important;
      }
    
      #view, #toolbtns, #layerpanel, #popup {
        top: 380%;
      }
    
      .view-title {
        top: 370%;
      }
    }
    
    @media only screen and (max-width: 740px) {
      #view, #toolbtns, #layerpanel, #popup {
        top: 360%;
      }
    
      .view-title {
        top: 350%;
      }
    }
    
    @media only screen and (max-width: 700px) {
      #view, #toolbtns, #layerpanel, #popup {
        top: 350%;
      }
    
      .view-title {
        top: 340%;
      }
    }
    
    @media only screen and (max-width: 650px) {
      #view, #toolbtns, #layerpanel, #popup {
        top: 330%;
      }
    
      .view-title {
        top: 320%;
      }
    }
    
    @media only screen and (max-width: 600px) {
      #view, #toolbtns, #layerpanel, #popup {
        top: 320%;
      }
    
      .view-title {
        top: 310%;
      }
    }
    
    @media only screen and (max-width: 550px) {
      #view, #toolbtns, #layerpanel, #popup {
        top: 260%;
      }
    
      .view-title {
        top: 250%;
      }
    }
    
    @media only screen and (max-width: 500px) {
      #view, #toolbtns, #layerpanel, #popup {
        top: 220%;
      }
    
      .view-title {
        top: 210%;
      }
    }
    
    @media only screen and (max-width: 580px) {
      #layerpanel, #popup {
        left: 16% !important;
      }
    
      #view, #toolbtns, #layerpanel, #popup {
        top: 200%;
      }
    
      .view-title {
        top: 195%;
      }
    }
    
    /* ============== Modal Image View ============== */
    
    .myImages {
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .myImages:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 40px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 100%;
      max-height: 80vh;
      max-width: 700px;
    }
    
    /* Caption of Modal Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }
    
    /* Add Animation */
    .modal-content, #caption {  
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.3s;
      animation-name: zoom;
      animation-duration: 0.3s;
    }
    
    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)} 
      to {-webkit-transform:scale(1)}
    }
    
    @keyframes zoom {
      from {transform:scale(0)} 
      to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
      position: absolute;
      z-index: 999;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <div class="header p-3 m-0 row">
    <!-- Menu Button -->
    <button class="btn btn-secondary col-1 my-auto" style="width: min-content;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i class="bi bi-list"></i></button>

    <!-- Off Canvas -->
    <div class="offcanvas offcanvas-start" style="max-width: 320px;" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <img class="mb-3 rounded-circle mx-auto d-block" style="height: 20%;" src="{% static 'home/images/profile.JPG' %}" alt="Ardha's Profile Photo">
        <div class="text-center">
          <h5 class="m-0">Ardha Irfan Hakim</h5>
          <p class="m-0">3098826</p>
          <p>Faculty of ITC, University of Twente</p>
          <a href="/" class="btn btn-secondary border-0" target="_self">Home</a>
        </div>
        <div class="course my-4">
          <div class="page-menu">
            <h6>Geographic Information Systems</h6>
            <a class="text-dark" href="/" style="text-decoration: none; font-weight: 400;" target="_self">
              <div class="row d-flex align-items-center ms-2">
                <p class="m-0">Assignment 1: LiDAR Tutorial</p>
              </div>
            </a>
            {% comment %} <a class="text-dark" href="/" style="text-decoration: none; font-weight: 500;" target="_self"> {% endcomment %}
              <div class="row d-flex align-items-center ms-2 opacity-50">
                <p class="m-0">Assignment 2</p>
              </div>
            {% comment %} </a> {% endcomment %}
            {% comment %} <a class="text-dark" href="/" style="text-decoration: none; font-weight: 500;" target="_self"> {% endcomment %}
              <div class="row d-flex align-items-center ms-2 opacity-50">
                <p class="m-0">Assignment 3</p>
              </div>
            {% comment %} </a> {% endcomment %}
          </div>
        </div>
      </div>
    </div>

    <!-- Header -->
    <div class="col">
      <h1>Ardha Irfan Hakim</h1>
      <h6>Faculty of ITC, University of Twente</h6>
    </div>
    <div class="col-12 col-md-5 text-end my-auto">
      <h4 class="align-middle text-success">Assignment 1</h4>
    </div>
  </div>

  <!-- Assignment -->
  <div class="assignment-header p-3 m-0 mb-5 row">

    <!-- Assignment Explanation -->
    <div class="col-12 my-3">
      <h3>Digital Terrain Model (DTM) of Mount Saint Peter in Maastricht</h3>
      <p>Below are the comparation of DTM with the data taken at three different times. The data were collected using
        light detection and ranging (LiDAR) method.</p>
      <ul>
        <li>AHN1: 1997-2004</li>
        <li>AHN1: 2007-2014</li>
        <li>AHN3: 2014-2019</li>
      </ul>
      <h5>A little bit of analysis</h5>
      <p>After comparing the terrain model of each AHN, we can see there's a little part of the area that changed its shape significantly over time.</p>
      <div class="col row text-center d-flex justify-content-center">
        <div class="col-4 col-sm-3 col-md-2 px-1">
          <img class="col-12 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328484673306634/top_ahn1_marked.png?width=701&height=701" alt="AHN1">
          <h6 class="">AHN1</h6>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-1">
          <img class="col-12 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328485688311898/top_ahn2_marked.png?width=701&height=701" alt="AHN2">
          <h6 class="">AHN2</h6>
        </div>
        <div class="col-4 col-sm-3 col-md-2 px-1">
          <img class="col-12 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328486678184026/top_ahn3_marked.png?width=701&height=701" alt="AHN3">
          <h6 class="">AHN3</h6>
        </div>
        <div class="col-6 col-sm-3 col-lg-2 px-1">
          <img class="col-12 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024333087368294452/Screenshot_2022-09-27_165251.png?width=747&height=700" alt="Legend">
        </div>
      </div>
      <img class="col-10 col-sm-6 col-md-4 pt-2 mx-auto myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024333087770939472/Screenshot_2022-09-27_165333.png?width=1440&height=693" alt="Marked Area" style="display: block;">
      <div class="row d-flex justify-content-center">
        <div class="col-3 col-sm-2 col-md-1">
          <p class="mb-1" style="font-size: small;"><i class="bi bi-circle-fill" style="color: #FF0000;"></i> AHN1</p>
        </div>
        <div class="col-3 col-sm-2 col-md-1">
          <p class="mb-1" style="font-size: small;"><i class="bi bi-circle-fill" style="color: #0000FF;"></i> AHN2</p>
        </div>
        <div class="col-3 col-sm-2 col-md-1">
          <p class="mb-1" style="font-size: small;"><i class="bi bi-circle-fill" style="color: #00FF00;"></i> AHN3</p>
        </div>
      </div>
      <h6 class="text-center pb-2">Elevation Profile</h6>
      <p>The area marked by the red box initially had higher average elevation than today. This is the result of geology and mining activities that lasted for almost a century, from 1926 to 2018. During that period of time, the land decreased and made the hole wider. However, the surrounding area is preserved and did not change much.</p>
    </div>

    <!-- Navs and Tabs Comparation -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
          role="tab" aria-controls="home-tab-pane" aria-selected="true">Color Gradient</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="hillshade1-tab" data-bs-toggle="tab" data-bs-target="#hillshade1-tab-pane" type="button"
          role="tab" aria-controls="hillshade1-tab-pane" aria-selected="false">Hillshade View</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="contour-tab" data-bs-toggle="tab" data-bs-target="#contour-tab-pane" type="button"
          role="tab" aria-controls="contour-tab-pane" aria-selected="false">Contour View</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="elevation-tab" data-bs-toggle="tab" data-bs-target="#elevation-tab-pane" type="button"
          role="tab" aria-controls="elevation-tab-pane" aria-selected="false">Elevation Profile</button>
      </li>
    </ul>
    <div class="tab-content comparation-tab mb-5" id="myTabContent">
      <div class="tab-pane fade show active p-1 my-3" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
        <h5>Angle 1</h5>
        <div class="col row text-center">
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328417140801597/side1_ahn1.png?width=934&height=701" alt="AHN1">
            <h6 class="mt-2 mb-4">AHN1</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328417610584105/side1_ahn2.png?width=934&height=701" alt="AHN2">
            <h6 class="mt-2 mb-4">AHN2</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328417992253480/side1_ahn3.png?width=934&height=701" alt="AHN3">
            <h6 class="mt-2 mb-4">AHN3</h6>
          </div>
        </div>
        <h5>Angle 2</h5>
        <div class="col row text-center">
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328418675916911/side2_ahn1.png?width=934&height=701" alt="AHN1">
            <h6 class="mt-2 mb-4">AHN1</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328419212795965/side2_ahn2.png?width=933&height=700" alt="AHN2">
            <h6 class="mt-2 mb-4">AHN2</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328419720298587/side2_ahn3.png?width=934&height=701" alt="AHN3">
            <h6 class="mt-2 mb-4">AHN3</h6>
          </div>
        </div>
        <h5>Top View</h5>
        <div class="row col text-center">
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328420496265326/top_ahn1.png?width=701&height=701" alt="AHN1">
            <h6 class="mt-2 mb-4">AHN1</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328421725196288/top_ahn1__2.png?width=701&height=701" alt="AHN2">
            <h6 class="mt-2 mb-4">AHN2</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328424262750280/top_ahn1__3.png?width=701&height=701" alt="AHN3">
            <h6 class="mt-2 mb-4">AHN3</h6>
          </div>
        </div>
        <img class="col-12 myImages my-3" src="https://media.discordapp.net/attachments/1024326929609928804/1024333087368294452/Screenshot_2022-09-27_165251.png?width=747&height=700" style="height: 30%; max-height: 200px; width: auto; display: block; margin-left: auto; margin-right: auto;" alt="Legend">
        <h6 class="my-3">Colored 3D View</h6>
        <div>
          Download the visualization of the DTM and view it using localhost server.
          <a href="https://drive.google.com/file/d/1r6mVOeHNViINJk_uLk_P4T3l4SRKecXS/view?usp=sharing" class="btn btn-primary" download>Download the Colored DTM</a>
        </div>
      </div>
      <div class="tab-pane fade p-1 my-3" id="hillshade1-tab-pane" role="tabpanel" aria-labelledby="hillshade1-tab" tabindex="0">
        <h5>Hillshade Angle 1</h5>
        <div class="col row text-center">
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327800066412564/hillshade_angle1_ahn1.png?width=934&height=701" alt="AHN1">
            <h6 class="mt-2 mb-4">AHN1</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327800477458492/hillshade_angle1_ahn2.png?width=933&height=700" alt="AHN2">
            <h6 class="mt-2 mb-4">AHN2</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327800955617301/hillshade_angle1_ahn3.png?width=934&height=701" alt="AHN3">
            <h6 class="mt-2 mb-4">AHN3</h6>
          </div>
        </div>
        <h5>Hillshade Angle 2</h5>
        <div class="col row text-center">
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327801366646914/hillshade_angle2_ahn1.png?width=934&height=701" alt="AHN1">
            <h6 class="mt-2 mb-4">AHN1</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327801786081431/hillshade_angle2_ahn2.png?width=934&height=701" alt="AHN2">
            <h6 class="mt-2 mb-4">AHN2</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327802197135471/hillshade_angle2_ahn3.png?width=934&height=701" alt="AHN3">
            <h6 class="mt-2 mb-4">AHN3</h6>
          </div>
        </div>
        <h5>Hillshade Top View</h5>
        <div class="col row text-center">
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328161267306546/hillshade_top_ahn1.png?width=701&height=701" alt="AHN1">
            <h6 class="mt-2 mb-4">AHN1</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328162072604692/hillshade_top_ahn2.png?width=701&height=701" alt="AHN2">
            <h6 class="mt-2 mb-4">AHN2</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328162726920222/hillshade_top_ahn3.png?width=701&height=701" alt="AHN3">
            <h6 class="mt-2 mb-4">AHN3</h6>
          </div>
        </div>
        <h6 class="my-3">Hillshade 3D View</h6>
        <div>
          Download the hillshade visualization of the DTM and view it using localhost server.
          <a href="https://drive.google.com/file/d/1dsyOHckj-C6dO9DJCtI-Co2Ta1187oGs/view?usp=sharing" class="btn btn-primary" download>Download the Hillshade DTM</a>
        </div>
      </div>
      <div class="tab-pane fade p-1 my-3" id="contour-tab-pane" role="tabpanel" aria-labelledby="contour-tab" tabindex="0">
        <h5>Contour View</h5>
        <div class="col row text-center">
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327798657138749/contour_ahn1.png?width=934&height=701" alt="AHN1">
            <h6 class="mt-2 mb-4">AHN1</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327799005253702/contour_ahn2.png?width=934&height=701" alt="AHN2">
            <h6 class="mt-2 mb-4">AHN2</h6>
          </div>
          <div class="col-12 col-md-4">
            <img class="col-4 col-md-4 myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024327799365967983/contour_ahn3.png?width=934&height=701" alt="AHN3">
            <h6 class="mt-2 mb-4">AHN3</h6>
          </div>
        </div>
        <h6 class="my-3">Contour 3D View</h6>
        <div>
          Download the contour visualization of the DTM and view it using localhost server.
          <a href="https://drive.google.com/file/d/1PSrUR8ez7ssEtAG-RBm_etSJPxCgu8NQ/view?usp=sharing" class="btn btn-primary" download>Download the Contour DTM</a>
        </div>
      </div>
      <div class="tab-pane fade p-1 my-3" id="elevation-tab-pane" role="tabpanel" aria-labelledby="elevation-tab" tabindex="0">
        <h5>Elevation Profile</h5>
        <div class="col row text-center">
          <div class="col-4">
            <img class="myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328164345909258/linethrough1.png" alt="AHN1">
            <h6 class="mt-2 mb-4">AHN1</h6>
          </div>
          <div class="col-4">
            <img class="myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328164815667210/linethrough2.png" alt="AHN2">
            <h6 class="mt-2 mb-4">AHN2</h6>
          </div>
          <div class="col-4">
            <img class="myImages" src="https://media.discordapp.net/attachments/1024326929609928804/1024328165369327616/linethrough3.png" alt="AHN3">
            <h6 class="mt-2 mb-4">AHN3</h6>
          </div>
          <div class="col-12">
            {% comment %} <img class="col-12 my-2" style="height: auto; max-width: 300px;" src="{% static 'home/images/linethrough.png' %}" alt="AHN2"> {% endcomment %}
            <img class="col-12 mb-3 myImages" style="width: 100%; max-width: 1100px;" src="https://media.discordapp.net/attachments/1024326929609928804/1024333087770939472/Screenshot_2022-09-27_165333.png?width=1440&height=693" alt="AHN2">
          </div>
          <div class="d-flex justify-content-center">
            <div class="col-4 col-sm-3 col-md-2 col-lg-1">
              <p class="my-2"><i class="bi bi-circle-fill" style="color: #FF0000;"></i> AHN1</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1">
              <p class="my-2"><i class="bi bi-circle-fill" style="color: #0000FF;"></i> AHN2</p>
            </div>
            <div class="col-4 col-sm-3 col-md-2 col-lg-1">
              <p class="my-2"><i class="bi bi-circle-fill" style="color: #00FF00;"></i> AHN3</p>
            </div>
          </div>
        </div>
      </div>
      {% comment %} <div class="tab-pane fade p-1 my-3" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...
      </div> {% endcomment %}
    </div>
  </div>

  <!-- The Modal -->
  <div id="myModal" class="modal">
    <span class="close"><i class="bi bi-x-circle-fill"></i></span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>

  <footer class="p-3 col-12">
    <p class="text-center">2022 &copy; Copyright Ardha Irfan Hakim<p>
    </footer>

  <script>
    // create references to the modal...
    var modal = document.getElementById('myModal');
    // to all images -- note I'm using a class!
    var images = document.getElementsByClassName('myImages');
    // the image in the modal
    var modalImg = document.getElementById("img01");
    // and the caption in the modal
    var captionText = document.getElementById("caption");

    // Go through all of the images with our custom class
    for (var i = 0; i < images.length; i++) {
      var img = images[i];
      // and attach our click listener for this image.
      img.onclick = function(evt) {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
      }
    }

    var span = document.getElementsByClassName("close")[0];

    span.onclick = function() {
      modal.style.display = "none";
    }
  </script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>

</html>