:root {
  --grey: #e4e4e4;
  --blue: #005aa4;
  --white: #ffffff;
}

/* Temporary */
.ass {
  background: rgb(222, 222, 222);
  transition: all .3s;
}

.ass:hover {
  background: rgb(188, 188, 188);
  transition: all .3s;
}
/* Temporary */

html {
  position:relative; 
  min-height: 100%;
}

body {
  font-family: arial, sans-serif;
  margin: 0;
}

.header {
  background-color: var(--grey);
}

footer {
  position: absolute;
  bottom: 0;
  background: var(--grey);
}

.course p {
  color: var(--blue)
}

.comparation-tab img {
  width: 100%;
  height: auto;
}

.view-title {
  position: absolute;
  top: 130%;
  left: 5%;
}

.page-menu div {
  height: 40px;
  transition: all .3s;
}

.page-menu div:hover {
  height: 40px;
  background: rgb(223, 223, 223);
  transition: all .3s;
}

/* ============== Small Screen ============== */

@media only screen and (max-width: 767px) {
  #layerpanel, #popup {
    left: 12% !important;
  }

  #view, #toolbtns, #layerpanel, #popup {
    top: 380%;
  }

  .view-title {
    top: 370%;
  }
}

@media only screen and (max-width: 740px) {
  #view, #toolbtns, #layerpanel, #popup {
    top: 360%;
  }

  .view-title {
    top: 350%;
  }
}

@media only screen and (max-width: 700px) {
  #view, #toolbtns, #layerpanel, #popup {
    top: 350%;
  }

  .view-title {
    top: 340%;
  }
}

@media only screen and (max-width: 650px) {
  #view, #toolbtns, #layerpanel, #popup {
    top: 330%;
  }

  .view-title {
    top: 320%;
  }
}

@media only screen and (max-width: 600px) {
  #view, #toolbtns, #layerpanel, #popup {
    top: 320%;
  }

  .view-title {
    top: 310%;
  }
}

@media only screen and (max-width: 550px) {
  #view, #toolbtns, #layerpanel, #popup {
    top: 260%;
  }

  .view-title {
    top: 250%;
  }
}

@media only screen and (max-width: 500px) {
  #view, #toolbtns, #layerpanel, #popup {
    top: 220%;
  }

  .view-title {
    top: 210%;
  }
}

@media only screen and (max-width: 580px) {
  #layerpanel, #popup {
    left: 16% !important;
  }

  #view, #toolbtns, #layerpanel, #popup {
    top: 200%;
  }

  .view-title {
    top: 195%;
  }
}

/* ============== Modal Image View ============== */

.myImages {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImages:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 40px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 100%;
  max-height: 80vh;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.3s;
  animation-name: zoom;
  animation-duration: 0.3s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  z-index: 999;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}